* {
    margin: 0;
    padding: 0;
}

header {
    background-image: url(../img/restaurante.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

html    {
    font-family: 'Josefin Sans', sans-serif;
}

/* Barra */
#barra {
    position: fixed;
    width: 100%;
}

/* Logo */
#logo_barra {
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
}

#logo {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    width: auto;
    height: 3.5rem;
    margin-left: 1rem;
    top: 0;
}


/* Menu */
#menu {
    display: flex;
    justify-content: space-around;
    background-color: black;
    padding-bottom: 0.4rem;
}
    
    .referencias {
        color: white;
        background-color: rgb(255, 60, 0);
        padding: 1rem;
        width: 8rem;
        font-size: medium;
        text-align: center;
        font-weight: bold;
        flex: 20%;
        border-right: 5px solid rgb(0, 0, 0);
        border-left: 5px solid rgb(0, 0, 0);
        border-radius: 0.5rem;
    }
    
    .referencias:hover {
        background-color: rgb(168, 39, 0);
    }

/*enunciado principal y boton de reserva*/

#enunciado {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

/* Menus */
#carta {
    background-color: black;
    height: 100vh;
}

.titulo_menus {
    display: flex;
    justify-content: space-around;
    color: white;
}

.titulo_menus h2 {
    background-color: rgb(180, 27, 0);
    padding: 1rem 1rem 0 1rem;
    border-start-start-radius: 1rem;
    border-start-end-radius: 1rem;
}

#menus {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#menu_1, #menu_2 {
    background-color: rgb(255, 38, 0);
    color: rgb(255, 255, 255);
    padding: 2rem 1rem 2rem 1rem;
    text-align: center;
    border-radius: 1rem;
}

#menus li {
    font-style: none;
    list-style-type: none;
}

/* Reserva */
#padre_reserva {
    height: 100vh;
    background-color: rgb(209, 112, 0);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#nombre_apellido {
    display: flex;
    flex-direction: column;
    margin-right: 3rem;
}

#nombre_apellido input {
    margin-bottom: 1rem;
}

::placeholder {
    color: white;
}

#fecha {
    display: flex;
    flex-direction: column;
    margin-left: 3rem;
}

#fecha input {
    margin-bottom: 1rem;
}

#nombre_apellido input, #fecha input {
    background-color: rgb(255, 38, 0);
    color: white;
    border: transparent;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 1rem;
    font-weight: bold;
    text-align: center;
}

#nombre_apellido label, #fecha label {
    color: white;
    margin-bottom: 1rem;
    text-align: center;
    font-weight: bold;
    font-size: 1.3rem;
}

#lab_nota {
    margin-top: 0.5rem;
}

#nota {
    resize: none;
    border: transparent;
    background-color: rgb(255, 38, 0);
    border-radius: 1rem;
    height: 6rem;
    padding: 1rem;
}

/* Sobre nosotros */
#padre_nosotros {
    height: 100vh;
    background-color: rgb(0, 17, 255);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
}

#titulo_nosotros {
    padding-top: 2rem;
    flex: 100%;
    color: white;
}

#integrantes {
    color: white;
    flex: 33%;
}

#integrantes img {
    width: 14rem;
    height: 12rem;
    border-radius: 2rem;
}

/* Contacto */
#padre_contacto {
    height: 100vh;
    background-color: orange;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#padre_contacto h1 {
    margin-bottom: 2rem;
    background-color: orangered;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 1rem;
}

#padre_contacto h2 {
    margin-top: 3rem;
}

#padre_contacto h3 {
    margin-top: 0.5rem;
}
